<h1>Your Collections</h1>

<div>
  <% if @collections.any? %>
    <ul class="list-group list-group-flush">
      <% @collections.each do |collection| %>
        <li class="list-group-item py-4">
          <div class="d-inline-block">
            <div class="d-inline-block mb-1">
              <h3 class="h4">
                <%= link_to collection.name, collection_path(collection), class: "link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
              </h3>
            </div>
          </div>
          <div>
            <p><%= collection.description %></p>
          </div>
          <div>
            <span class="badge rounded-pill text-bg-primary collection" data-collection-id="<%= collection.id %>">
              <%= collection.items.count %>
            </span>
            <span class="badge rounded-pill border border-dark text-dark"><%= collection.kind %></span>
            <small class="text-body-secondary ms-2">Updated <%= time_ago_in_words(collection.updated_at) %> ago</small>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="col">
      <p>You don't have any collections.</p>
    </div>
  <% end %>
</div>

<div class="d-flex">
  <%= link_to "Add +", new_collection_path, class: "btn btn-success", role: "button" %>
</div>
