<h1><%= @collection.name.titleize %></h1>

<% if @collection.description %>
  <p><%= @collection.description %></p>
<% end %>

<% if @collection.collectibles.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Condition</th>
        <th scope="col">Acquisition Date</th>
      </tr>
    </thead>
    <tbody>
      <% @collection.collectibles&.each do |collectible| %>
        <tr>
          <td><%= link_to collectible.name, collection_collectible_path(@collection, collectible) %></td>
          <td><%= collectible.condition %></td>
          <td><%= collectible.acquisition_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No collectibles.</p>
<% end %>

<%= link_to "New Collectible", new_collection_collectible_path(@collection.id), class: "btn btn-primary me-2", role: "button" %>

<div class="d-flex">
  <%= link_to "Back to Collections", collections_path, class: "btn btn-outline-secondary me-2", role: "button" %>
  <%= link_to "Edit Collection", edit_collection_path(@collection), class: "btn btn-primary me-2", role: "button" %>
  <%= button_to "Delete Collection", collection_path(@collection),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this collection?" },
              class: "btn btn-danger", role: "button" %>
</div>
