<%= render 'collections/partials/tabnav' %>

<h1 class="h2"><%= @collection.name.titleize %></h1>
<span class="badge rounded-pill text-bg-primary""><%= @collection.items.count %></span>
<span class="badge rounded-pill border border-dark text-dark"><%= @collection.kind %></span>

<hr class="border-secondary">

<h2 class="h3">Description</h2>

<% if @collection.description %>
  <p><%= @collection.description %></p>
<% end %>

<% if @collection.items.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <% if Collection::COLLECTION_PROPERTIES[@collection.kind] %>
          <% Collection::COLLECTION_PROPERTIES[@collection.kind].each do |property_name| %>
            <th scope="col"><%= property_name %></th>
          <% end %>
        <% end %>
        <th scope="col">Acquisition Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.items.each do |item| %>
        <tr>
          <td><%= link_to item.name, collection_item_path(@collection, item) %></td>
          <% item.properties.each do |property| %>
            <td><%= property.value %></td>
          <% end %>
          <td><%= item.acquisition_date.strftime('%b %e, %Y') %></td>
          <td>
            <%= link_to "Edit", edit_collection_item_path(@collection, item), class: "btn btn-sm btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No items to show.</p>
<% end %>

<div class="d-flex">
  <%= link_to "Back to Collections", collections_path, class: "btn btn-outline-secondary me-2", role: "button" %>
  <%= link_to "Add +", new_collection_item_path(@collection.id), class: "btn btn-success me-2", role: "button" %>
</div>
