<%= render 'collections/partials/tabnav' %>

<h1><%= @collection.name.titleize %></h1>

<% if @collection.description %>
  <p><%= @collection.description %></p>
<% end %>

<p>Total items: <%= @collection.items.count %></p>

<% if @collection.items.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Acquisition Date</th>
      </tr>
    </thead>
    <tbody>
      <% @collection.items.each do |item| %>
        <tr>
          <td><%= link_to item.name, collection_item_path(@collection, item) %></td>
          <td><%= item.acquisition_date.strftime('%b %e, %Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No items to show.</p>
<% end %>

<div class="d-flex">
  <%= link_to "Add +", new_collection_item_path(@collection.id), class: "btn btn-primary me-2", role: "button" %>
  <%= link_to "Back to Collections", collections_path, class: "btn btn-outline-secondary me-2", role: "button" %>
</div>
