<%= render 'items/partials/tabnav' %>

<h2 class="h3">General</h2>

<ul class="list-group mb-4">
  <li class="list-group-item">
    <%= form_with(model: [@collection, @item], local: true) do |form| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-3 form-check">
        <%= form.check_box :collected, class: "form-check-input", id: "collected-check-box", checked: @item.collected? %>
        <%= form.label :collected, class: "form-check-label", for: "collected-check-box" %>
      </div>

      <% @item.properties.each do |key, value| %>
        <div class="mb-3">
          <%= form.label "properties[#{key}]", key.humanize, class: "form-label" %>
          <%= text_field_tag "item[properties][#{key}]", value, class: "form-control" %>
        </div>
      <% end %>



      <div class="d-flex">
        <%= link_to "Cancel", collection_item_path(@collection, @item), class: "btn btn-outline-secondary me-2", role: "button" %>
        <div class="actions">
          <%= form.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </li>
</ul>

<h2 class="h3">Danger Zone</h2>

<ul class="list-group mb-4">
  <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Delete this item</div>
      Once you delete an item, there is no going back. Please be certain.
    </div>
    <div class="flex-md-order-1 flex-order-2">
      <%= button_to "Delete Item", collection_item_path(@collection, @item),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this collection?" },
                    class: "btn btn-danger", role: "button" %>
    </div>
  </li>
</ul>
