<h1>New <%= @collection.name %></h1>

<%= form_with(model: [@collection, @item], local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :collected, class: "form-check-input", id: "collected-check-box" %>
    <%= form.label :collected, class: "form-check-label", for: "collected-check-box" %>
  </div>

  <% @item.properties.each do |key, value| %>
    <div class="mb-3">
      <%= form.label "properties[#{key}]", key.humanize, class: "form-label" %>
      <%= text_field_tag "item[properties][#{key}]", value, class: "form-control" %>
    </div>
  <% end %>

  <div class="d-flex">
    <%= link_to "Cancel", collection_path(@collection), class: "btn btn-outline-secondary me-2", role: "button" %>
    <div class="actions">
      <%= form.submit "Create", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
