<%= render 'items/partials/tabnav' %>

<h1 class="h2"><%= @item.name.titleize %></h1>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag 'no_photo_available.svg', alt: 'Image of generic comic book cover', width: '100%', height: '100%' %>
  </div>

  <div class="col-sm-8">
    <div>
      <strong>Collected: </strong> <%= @item.collected? ? "✅" : "❗" %>
    </div>

    <br>

    <% unless @item.description.blank? %>
      <div>
        <strong>Description </strong>
        <p><%= @item.description %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex">
  <%= link_to "Back to Collection", collection_path(@collection), class: "btn btn-outline-secondary me-2", role: "button" %>
</div>
