<h1><%= @item.name.titleize %></h1>

<% if @item.description %>
  <p><%= @item.description %></p>
<% end %>

<% if @item.condition %>
  <p>Condition: <%= @item.condition %></p>
<% end %>

<% if @item.acquisition_date %>
  <p>Acquired on: <%= @item.acquisition_date %></p>
<% end %>

<div class="d-flex">
  <%= link_to "Back to Collection", collection_path(@collection), class: "btn btn-outline-secondary me-2", role: "button" %>
</div>
