<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="d-flex flex-column h-100">
    <%= render "layouts/navbar" %>
    <main class="flex-shrink-0">
      <div class="container mt-4">
        <% if Rails.env.development? %>
          <p><%= debug(params) %></p>
        <% end %>

        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: flash_class(message_type), role: "alert") %>
        <% end %>

        <%= yield %>

      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <p class="text-muted">
          &copy; <%= Time.now.year %> Bryan Borgeson. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
